*           #ignore all files in each directory
!*/*.c      #unignore .c files in each directory
!*/*.cpp    #unignore .cpp files in each directory
!*/*.py     #unignore .cpp files in each directory
!.gitignore #unignore .gitignore
!media/*.*  #unignore readme.md file
!media/*.*  #unignore media folder
