# Ignore all
*

# Unignore all with extensions
!*.*

# Ignore all in sub-dir
/**/*
# Unignore all with extensions in sub-dir
!/**/*.*

# Unignore all dirs
!*/**/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.exe`
*.class
*.exe
*.out
